<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="git" />
    <package id="sed" />
    <package id="make" />
    <package id="ruby" /><!-- require version=2.3+ but ranges not supported yet https://github.com/chocolatey/choco/issues/800 -->
    <package id="xsltproc" />
    <package id="gnuwin32-coreutils.portable" />
    <package id="nodejs" />
    <package id="plantuml" />
    <package id="sublimetext3" />
    <package id="openssl.light" />
</packages>